@import '../neat/neat-helpers'; // or '../neat/neat-helpers' when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints

$small-screen: em(400);
$medium-screen: em(700);
$large-screen: em(900);
$xlarge-screen: em(1100);

$small-screen-down: new-breakpoint(max-width $small-screen);
$medium-screen-down: new-breakpoint(max-width $medium-screen);
$large-screen-down: new-breakpoint(max-width $large-screen);
$xlarge-screen-down: new-breakpoint(max-width $xlarge-screen);

$medium-screen-up: new-breakpoint(min-width $medium-screen);
