// Typography
$sans-serif: 'Montserrat', $helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);

//Spacing
$vertical-margin: em(24);
$vertical-padding: $vertical-margin*2;

// Colors
$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
// my color variables
$black: #333;
$slate: #666;
$neutral: #FBF4E9;
$white: #ffffff;
$yellow: #ffff00;
$email-color: #34CEAC;
$twitter-color: #55ACEE;
$dribbble-color: #EA4C89;
$linkedin-color: #0976B4;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

//my stuff
//Neat overrides
$visual-grid: true; // Display the base grid
$visual-grid-color: #EEE;
$visual-grid-index: back; // Show grid behind content (back) or overlay it over the content (front)
$grid-columns: 12;
