/* Description... */
/* ----------------------------------------------------------*/

header {
	width: 100%;
	/* gradient declarations */
	@include background-image(linear-gradient(-118deg, #2377AE 6%, #53A0FD 51%, #8DCE96 80%, #B4EC51 100%));
	/* end gradient declarations */
	margin-bottom: $vertical-margin*2;
	padding-bottom: $vertical-margin/2;
}

.site-header {
	@include outer-container;
	padding-top: $vertical-margin/1.5;
	
	nav {
		margin-top: em(20);
	}
	
	ul {  
		float: left;
		list-style-type: none;

		a {
			color: white;
			text-decoration: none;
			transition: color ease .35s;
		
			&:hover {
				color: $yellow;
				border-bottom: 1px solid;
			}
		}

		li {
			display: inline-block;
			
			&:nth-child(1){
				margin-right: 1em;
			}
		}
	}
}

.site-header-left {
	@include span-columns (9);
}

.site-header-right {
	@include span-columns (3);
}

#site-logo {
	background-image: url(/assets/m-animate2-static.png);
	width: em(60);
  height: em(60);
  background-size: contain;
  display: inline-block;
  
  &:before {
    background-image: url(/assets/m-animate2.gif);
    width: 0;
    height: 0;
  }
  
  &:hover {
    background-image: url(/assets/m-animate2.gif);
  }
}

.home header {
	
}