header.main {
  background-image: none;
  background-color: none;
}

.home-intro {
  @include outer-container;
  @include background-image(linear-gradient(-118deg, #2377AE 6%, #53A0FD 51%, #8DCE96 80%, #B4EC51 100%));
  color: $yellow;
  //max-width: 75%;
  margin-bottom: $vertical-margin;
  margin: 0;
  padding-bottom: $vertical-margin;
  text-align: center;
  
  h1 {
    color: $white;
    font-size: em(60);
  }

  h4 {
    color: $white;
    font-size: em(14);
  }

  header {
    background-image: none;
    margin-bottom: $vertical-margin*4;

    p {
      font-size: em(20)
    }
  }

 footer {
    background-color: inherit;
    margin: 0;
    //color: $white;

    &:after {
      content: "↓";
    }
  }
}

.posts {
  @include outer-container;
  
  li {
    @include span-columns(4);
    @include omega(3n);
  }
}
