.home {

  header {
    &.main {
      background-image: none;
      background-color: none;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .inner-content {
    background-color: $neutral;
    margin: 0;
    padding: $vertical-padding 0;
  }

  .posts {
    @include outer-container;
 
    .post {
      @include span-columns(4);
      @include omega(3n);
      margin-bottom: 2em;
      position: relative;
    }

    .post-details {
      font-size: em(20);
      opacity: 0;
      transition: opacity .2s ease;
      top: 50%;
      margin-top: -25px;
      position: absolute;
      height: 100%;
      width: 100%;

      &:hover {
        opacity: 1;
      }

      &:after {
        content: " →";
      }
    }
  }
}