.home {

  header {
    &.main {
      background-image: none;
      background-color: none;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .inner-content {
    background-color: $neutral;
    margin: 0;
    padding: $vertical-padding 0;
  }

  .posts {
    @include outer-container;

    li {
      @include span-columns(4);
      @include omega(3n);
    }
  }
}