.home-intro {
  @include gradient-animate(90deg, 15s, (#9fdf4b, #69aeb3, #428af4, #2164a0));
  @include padding(($vertical-margin * 6) null $vertical-margin);
  color: $yellow;
  text-align: center;

  h1 {
    color: $white;
    font-size: em(60);
    line-height: 1;
    margin-bottom: $vertical-margin/4;

    @include media($medium-screen-down) {
      font-size: em(40);
    }
  }

  h4 {
    color: $white;
    font-size: em(14);

    @include media($medium-screen-down) {
      font-size: em(12);
    }
  }

  header {
    background-image: none;
    margin-bottom: $vertical-margin*3;

    @include media($medium-screen-down) {
      margin-bottom: $vertical-margin*2;
    }

    p {
      font-size: em(20);

      @include media($medium-screen-down) {
        font-size: em(16);
      }
    }
  }

 .home-intro-calltoaction {
    background-color: inherit;
    margin: 0;

    &:after {
      content: "↓";
    }
  }
}

.home-intro-inner {
  @extend %text-shadow;
  @include outer-container;
  width: 60%;
}