* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: $white;
  color: $black;
}

body {
  font-family: $sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

.inner-content {
  text-align: center;
  margin-bottom: $vertical-margin*5;
}

