* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: $white;
  color: $black;
  transition: width 0.3s ease;
}

body {
  font-family: $sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  //background-color: #fdfdfd;
}

.inner-content {
  //@include outer-container;
  text-align: center;
  //margin-top: $vertical-margin*8;
  margin-bottom: $vertical-margin*5;
}

