html {
  background-color: $white;
}

html,
body {
  color: $black;
}

body {
  font-family: $sans-serif;
  font-size: $base-font-size;
  line-height: 1.5;
}

.inner-content {
  margin-bottom: $vertical-margin*5;
  text-align: center;
}

a {
  transition: all ease-in .2s;
}
