.page-content {
  background-color: white;

  .inner-content {
    background-color: white;
    margin-bottom: 0;
    margin-top: em(95);
  }
}

section {
  .project-roles {
    display: inline-block;
    font-size: em(14);
    margin-bottom: $vertical-padding;
    // margin-top: $vertical-padding/4;

    strong {
      color: $orange;

      &:after {
        content: ": ";
      }
    }

    li {
      display: inline-block;
      margin-right: em(20);
    }
  }

  p {
    font-size: $project-intro-font-size;
  }

  &.project-introduction {
    @include outer-container;
    @include shift(1.25);
    @include span-columns(10);
    text-align: left;

    @include media($medium-screen-up) {
      @include span-columns(8);
      max-width: 700px;
    }

    h1 {
      padding-bottom: .25em;
    }

    .project-introduction-calltoaction {
      background-color: inherit;
      margin-top: $vertical-padding*2;
      padding-bottom: $vertical-padding/3;

      p {
        color: $headings;
        font-size: em(14);
      }

      &:after {
        color: $headings;
        content: "↓";
      }
    }
  }

  &.project-images {
    background-color: $white;

    img {
      display: block;
      width: 100%;
    }

    footer {
      background-color: $neutral;
      font-size: em(14);
      overflow: auto;
      padding: $vertical-padding 0;

      .inner-content {
        @include outer-container;
        background-color: transparent;
        margin: 0 auto;
      }

      a {
        @include media($medium-screen-down) {
          font-size: 16px;
        }
      }

      a.prev-project-target {
        @include span-columns(4);
        color: $email-color;

        @include media($medium-screen-down) {
          @include fill-parent;
          min-height: 2em;
        }

        &:after {
          content: " →";
        }

        &:hover {
          color: shade($email-color, 30%);
        }

        &.last {
          &:after {
            content: " ";
            display: inline-block;
          }
        }
      }

      a.next-project-target {
        @include span-columns(4);
        color: $headings;

        @include media($medium-screen-down) {
          @include fill-parent;
          min-height: 2em;
        }

        &:before {
          content: "← ";
        }

        &:hover {
          color: shade($headings, 30%);
        }

        &.first {
          &:before {
            content: " ";
            display: inline-block;
          }
        }
      }

      a.home-target {
        @include span-columns(4);
        color: $orange;

        @include media($medium-screen-down) {
          @include fill-parent;
          min-height: 2em;
        }

        &:hover {
          color: shade($orange, 30%);
        }
      }
    }
  }
}
