header.main {
  @include background-image(linear-gradient(-118deg, #2377AE 6%, #53A0FD 51%, #8DCE96 80%, #B4EC51 100%));
}

.page-content {
  background-color: white;

  .inner-content {
    padding-top: em(90);
    margin-top: em(95);
    margin-bottom: 0;
    background-color: white;
  }
}

section {
  .project-roles {
    font-size: em(14);
    display: inline-block;
    margin-top: $vertical-padding/3;
    margin-bottom: $vertical-padding;

    strong {
      color: $orange;
    }

    li {
      display: inline-block;
      margin-right: em(20);
    }
  }

  p {
    font-size: $base-font-size*1.4;
  }

  &.project-introduction {
    @include outer-container;

    .project-introduction-calltoaction {
      background-color: inherit;
      margin-top: $vertical-padding*3;
      padding-bottom: $vertical-padding/2;

      p {
        font-size: em(14);
        color: $headings;
      }

      &:after {
        content: "↓";
        color: $headings;
      }
    }
  }

  &.project-images {
    background-color: #003D61;
    padding-top: $vertical-padding;

    footer {
      background-color: $neutral;
      font-size: em(14);
      padding: $vertical-padding 0;
      padding-bottom: em(70);

      .prev-project-target {
        @include span-columns(4);
        color: $email-color;

        &:before {
          content: "← ";
        }
      }

      .next-project-target {
        @include span-columns(4);
        color: $headings;

        &:after {
          content: " →"
        }
      }

      .home-target {
        @include span-columns(4);
        color: $orange;
      }
    }
  }
}