//Neat overrides
$visual-grid: true; // Display the base grid
$visual-grid-color: #EEE;
$visual-grid-index: back; // Show grid behind content (back) or overlay it over the content (front)
$grid-columns: 12;

//Typography
$sans: 'Montserrat', $helvetica;

//Colors
$black: #333;
$slate: #666;
$neutral: #FBF4E9;
$white: #ffffff;
$yellow: #ffff00;
$email-color: #34CEAC;
$twitter-color: #55ACEE;
$dribbble-color: #EA4C89;
$linkedin-color: #0976B4;

//Spacing
$vertical-margin: em(24);
$vertical-padding: $vertical-margin*2